</div>
<div class="footer">
	<div class="pull-right">
		10GB of <strong>250GB</strong> Free.
	</div>
	<div>
		<strong>Copyright</strong> Example Company &copy; 2014-2017
	</div>
</div>
</div>
</div>
<!-- Mainly scripts -->
<script src="/inspina/js/jquery-2.1.1.js"></script>
<script src="/inspina/js/bootstrap.min.js"></script>
<script src="/inspina/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/inspina/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Custom and plugin javascript -->
<script src="/inspina/js/inspinia.js"></script>
<script src="/inspina/js/plugins/pace/pace.min.js"></script>
</body>
</html>
