<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="forgot">
	<meta name="author" content="Afa, Falih">
	<title>Forgot password : <%- locals.name + " " + locals.version %></title>
	<link href="/.inspinia/css/bootstrap.min.css" rel="stylesheet">
	<link href="/.inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="/.inspinia/css/animate.css" rel="stylesheet">
	<link href="/.inspinia/css/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="middle-box text-center loginscreen animated fadeInDown">
	<div>
		<div>
			<h4 class="logo-name" style="font-size: 57px;">LN+</h4>
		</div>
		<h3>Forgot password</h3>
		<p>Enter your email address and your password will be reset and emailed to you.</p>
		<form class="m-t" role="form" method="POST" action="/signhelp">
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Email address" required="">
			</div>
			<button type="submit" class="btn btn-primary block full-width m-b">Send new password</button>
		</form>
	</div>
</div>
<div class="footer fixed" style="margin: 0px;background-color: rgba(0,0,0,0.02);">
	<div class="pull-right">
		<a href="/registration">Registration</a>
		<span style="color: rgba(0,0,0,0.2);">|</span>
		<a href="/login">Sign in</a>
		<span style="color: rgba(0,0,0,0.2);">|</span>
		<a href="/contact">Contact</a>
		<span style="color: rgba(0,0,0,0.2);">|</span>
		<a href="/termspolicy">Terms</a>
		<span style="color: rgba(0,0,0,0.2);">|</span>
		<a href="/about">About</a>
	</div>
	<div>
		<strong>Copyright</strong> Lensa &copy; 2016
	</div>
</div>
</body>
</html>