<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="termspolicy">
	<meta name="author" content="Afa, Falih">
	<title>Public : <%- locals.name + " " + locals.version %></title>
	<link href="/.inspinia/css/bootstrap.min.css" rel="stylesheet">
	<link href="/.inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="/.inspinia/css/animate.css" rel="stylesheet">
	<link href="/.inspinia/css/style.css" rel="stylesheet">
</head>
<body class="gray-bg" directive="/public">
<div class="middle-box text-center loginscreen animated fadeInDown">
	<div>
		<div>
			<h4 class="logo-name" style="font-size: 57px;">LN+</h4>
		</div>
		<h3>Welcome Public User</h3>
		<p>Please using mobile app</p>
		<br/>
		<br/>
		<a href="/logout" class="btn btn-success btn-sm">Log out</a>
	</div>
</div>
<div class="footer fixed" style="margin: 0px;background-color: #eeeeef;">
	<div class="pull-right">
		<a href="/termspolicy">Terms</a>
		<span style="color: rgba(0,0,0,0.2);">|</span>
		<a href="/about">About</a>
	</div>
	<div>
		<strong>Copyright</strong> Lensa &copy; 2016
	</div>
</div>
<!-- Mainly scripts -->
<script src="/.inspinia/js/jquery-2.1.1.js"></script>
<script src="/.inspinia/js/bootstrap.min.js"></script>
</body>
</html>