<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="main">
	<meta name="author" content="Afa, Falih">
	<title>Root : <%- locals.name + " " + locals.version %></title>
	<link href="/.inspinia/css/bootstrap.min.css" rel="stylesheet">
	<link href="/.inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="/.inspinia/css/plugins/iCheck/custom.css" rel="stylesheet">
	<link href="/.inspinia/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
	<link href="/.inspinia/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
	<link href="/.inspinia/css/plugins/switchery/switchery.css" rel="stylesheet">
	<link href="/.inspinia/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
	<link href="/.inspinia/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
	<link href="/.inspinia/css/plugins/select2/select2.min.css" rel="stylesheet">
	<link href="/.inspinia/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
	<link href="/.inspinia/css/plugins/toastr/toastr.min.css" rel="stylesheet">
	<link href="/.inspinia/css/animate.css" rel="stylesheet">
	<link href="/.inspinia/css/style.css" rel="stylesheet">
	<link href="/.assets/css/style.css" rel="stylesheet">
</head>
<body class="fixed-sidebar pace-done fixed-nav fixed-nav-basic" directive="/root">
<div id="wrapper">
	<nav id="navbar" class="navbar-default navbar-static-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav metismenu" id="side-menu">
				<li class="nav-header">
					<div class="dropdown profile-element">
						<span>
                            <img alt="image" class="img-circle" type="application/javascript" src="/.inspinia/img/profile_small.jpg" />
						</span>
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<span class="clear">
	                            <span class="block m-t-xs">
		                            <strong class="font-bold">Who am I?</strong>
                                </span>
								<span class="text-muted text-xs block">Art Fantasty <b class="caret"></b></span>
							</span>
						</a>
						<ul class="dropdown-menu animated fadeInRight m-t-xs">
							<li><a href="#">Profile</a></li>
							<li><a href="#">Contacts</a></li>
							<li><a href="#">Mailbox</a></li>
							<li class="divider"></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</div>
					<div class="logo-element">IN+</div>
				</li>
				<!--
				<li>
					<a href="#groups">
						<i class="fa fa-edit"></i> <span class="nav-label">Groups</span>
					</a>
				</li>
				-->
				<li>
					<a href="#organizations">
						<i class="fa fa-sitemap"></i> <span class="nav-label">Organizations</span>
					</a>
				</li>
				<li class="active">
					<a href="#users">
						<i class="fa fa-users"></i> <span class="nav-label">Users</span>
					</a>
				</li>
				<!--
				<li>
					<a href="#">
						<i class="fa fa-edit"></i>
						<span class="nav-label">Group & Role</span>
						<span class="fa arrow"></span>
					</a>
					<ul class="nav nav-second-level collapse">
						<li><a href="#userGroups"></a></li>
						<li><a href="#userGroupRoles">User Group Roles</a></li>
					</ul>
				</li>
				-->
			</ul>
		</div>
	</nav>
	<div id="page-wrapper" class="gray-bg">
		<div class="row border-bottom">
			<nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
					<form role="search" class="navbar-form-custom" action="search_results.html">
						<div class="form-group">
							<input type="text" placeholder="Search" class="form-control" name="top-search" id="top-search">
						</div>
					</form>
				</div>
				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
							<i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
						</a>
						<ul class="dropdown-menu dropdown-messages">
							<li>
								<div class="dropdown-messages-box">
									<a href="/.inspinia/profile.html" class="pull-left">
										<img alt="image" class="img-circle" type="application/javascript" src="/.inspinia/img/a7.jpg">
									</a>
									<div class="media-body">
										<small class="pull-right">46h ago</small>
										<strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
										<small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box">
									<a href="/.inspinia/profile.html" class="pull-left">
										<img alt="image" class="img-circle" type="application/javascript" src="/.inspinia/img/a4.jpg">
									</a>
									<div class="media-body ">
										<small class="pull-right text-navy">5h ago</small>
										<strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
										<small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box">
									<a href="/.inspinia/profile.html" class="pull-left">
										<img alt="image" class="img-circle" type="application/javascript" src="/.inspinia/img/profile.jpg">
									</a>
									<div class="media-body ">
										<small class="pull-right">23h ago</small>
										<strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
										<small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="text-center link-block">
									<a href="/.inspinia/mailbox.html">
										<i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
									</a>
								</div>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
							<i class="fa fa-bell"></i> <span class="label label-primary">8</span>
						</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li>
								<a href="/.inspinia/mailbox.html">
									<div>
										<i class="fa fa-envelope fa-fw"></i> You have 16 messages
										<span class="pull-right text-muted small">4 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="/.inspinia/profile.html">
									<div>
										<i class="fa fa-twitter fa-fw"></i> 3 New Followers
										<span class="pull-right text-muted small">12 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="/.inspinia/grid_options.html">
									<div>
										<i class="fa fa-upload fa-fw"></i> Server Rebooted
										<span class="pull-right text-muted small">4 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<div class="text-center link-block">
									<a href="/.inspinia/notifications.html">
										<strong>See All Alerts</strong>
										<i class="fa fa-angle-right"></i>
									</a>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<a href="/logout">
							<i class="fa fa-sign-out"></i> Log out
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="row wrapper border-bottom white-bg page-heading no-padding">
			<div class="col-lg-12">
				<h3 id="pagename" style="margin: 15px 0px;">&nbsp</h3>
				<!--<ol class="breadcrumb">
					<li>
						<a href="/.inspinia/index.html">Home</a>
					</li>
					<li class="active">
						<strong>Widgets</strong>
					</li>
				</ol>-->
			</div>
		</div>
		<div class="wrapper wrapper-content animated fadeInRight" style="padding-left: 0px; padding-right: 0px;">
			<div id="main-content">
				<!-- Page -->
			</div>
		</div>
		<div class="footer">
			<div class="pull-right">
				<a href="/termspolicy">Terms</a>
				<span style="color: rgba(0,0,0,0.2);">|</span>
				<a href="/about">About</a>
			</div>
			<div>
				<strong>Copyright</strong> Lensa &copy; 2016
			</div>
		</div>
	</div>
</div>
<!-- Mainly scripts -->
<script type="application/javascript" src="/.inspinia/js/jquery-2.1.1.js"></script>
<script type="application/javascript" src="/.inspinia/js/jquery-ui-1.10.4.min.js"></script>
<script type="application/javascript" src="/.inspinia/js/bootstrap.min.js"></script>
<!-- Custom and plugin javascript -->
<script type="application/javascript" src="/.inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script type="application/javascript" src="/.inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script type="application/javascript" src="/.inspinia/js/plugins/pace/pace.min.js"></script>
<script type="application/javascript" src="/.inspinia/js/plugins/iCheck/icheck.min.js"></script>
<script type="application/javascript" src="/.inspinia/js/plugins/chosen/chosen.jquery.js"></script>
<script type="application/javascript" src="/.inspinia/js/plugins/jasny/jasny-bootstrap.min.js"></script>
<script type="application/javascript" src="/.inspinia/js/plugins/switchery/switchery.js"></script>
<script type="application/javascript" src="/.inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script type="application/javascript" src="/.inspinia/js/plugins/select2/select2.full.min.js"></script>
<script type="application/javascript" src="/.inspinia/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script type="application/javascript" src="/.inspinia/js/plugins/dataTables/datatables.min.js"></script>
<script type="application/javascript" src="/.inspinia/js/plugins/toastr/toastr.min.js"></script>
<script type="application/javascript" src="/.inspinia/js/inspinia.js"></script>
<script type="application/javascript" src="/.assets/js/modal.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvvD1j9nSGka5qRc0zbFcwiLTNxKsfQK0">
    </script>
<script type="application/javascript" delete>
	var toTitleCase = function (str) {
		return str.replace(/\w\S*/g, function (txt) {
			return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
		});
	};
	var splitCamelCase = function (str) {
		return str.split(/(?=[A-Z])/).join(" ");
	}
	window.App = <%- JSON.stringify(locals.www, 0, 2); %>;
	delete window.App["_locals"];
	//
	$(document).ready(function () {
		var navbar = $("#navbar");
		var pageName = $("#pagename");
		var mainContent = $("#main-content");
		var directive = $("body").attr('directive');
		var moduleLinks = navbar.find('li>a[href^="#"][href!="#"]');
		var loadModule = function (name) {
			var folder = directive + "/" + name;
			console.info("loading module", folder);
			moduleLinks.each(function (i) {
				if ($(this).attr("href") == '#' + name) $(this).parent().addClass("active")
				else $(this).parent().removeClass("active")
			})
			mainContent.load(folder + "/view.html", function (res, status) {
				pageName.html(toTitleCase(splitCamelCase(name)));
				if (status !== "success") mainContent.html(folder + " module not found.")
			});
		}
		moduleLinks.on('click', function () {
			loadModule($(this).attr('href').substr(1))
		});
		if (!window.location.hash.substr(1)) $(moduleLinks[0]).click();
		else loadModule(window.location.hash.substr(1));
		//
		$('script[delete]').remove(); //delete this script block
	});
</script>
</body>
</html>